<include href="/views/header.htm" />

<section class="section">
    <div class="columns">
        <div class="column">
            <img src="/assets/nominatePROLogoAndMark.jpg" alt="Logo for NominatePRO" style="height: 60px!important;">
        </div>
    </div>
    <div class="columns is-centered is-multiline">
        <div class="column is-half" style="margin: 0 8px;min-height: 80vh">
            <include href="{{ @content }}" />
        </div>
    </div>
</section>

<include href="/views/partials/flash_swal.htm" />
<include href="/views/footer.htm" />









