<section class="section">
    <div class="columns is-centered">
        <div class="column is-8 content">
            <p class="subtitle is-4 has-text-centered">{{ @PAGE_TITLE }}</p>
            <p class="content is-size-5">Enter your username and if we have a matching email in our records, we'll send you a link to reset your password.</p>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-8">
            <form action="/app/reset/password/{{ @controller }}/validate" method="POST" class="box">
                <input type="hidden" name="token" value="{{ @SESSION.csrf_token }}">
                <div class="field">
                    <label class="label" for="email">Email</label>
                    <div class="control has-icons-left">
                        <input class="input is-medium" type="text" id="email" name="email" placeholder="Enter your email" required>
                        <span class="icon is-left"><i class="fa-solid fa-envelope"></i></span>
                    </div>
                </div>
                <div class="field is-grouped is-justify-content-flex-end mt-5">
                    <div class="control"><button type="submit" class="button is-success">Submit</button></div>
                </div>
            </form>

            <check if="{{ isset(@SESSION.division_slug) }}">
                <true><a href="/app/awards/{{ @SESSION.division_slug }}">Return to Dashboard</a></true>
                <false><a href="/login/{{ @controller }}/index">Return to Login</a></false>
            </check>
        </div>
    </div>
</section>
