<section class="section">
    <div class="columns is-centered">
        <div class="column is-8 content has-text-centered">
            <p class="subtitle is-4">{{ @PAGE_TITLE }}</p>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-8">
            <form action="/app/password/{{ @controller }}/reset" method="POST" class="box">
                <input type="hidden" name="token" value="{{ @SESSION.csrf_token }}">
                <input type="hidden" name="selector" value="{{ @selector }}">
                <input type="hidden" name="token_value" value="{{ @token }}">

                <!-- New Password -->
                <div class="field">
                    <label for="password" class="label">New Password</label>
                    <div class="control has-icons-left">
                        <input class="input is-medium" type="password" name="password" id="password" placeholder="New Password" required>
                        <span class="icon is-left"><i class="fas fa-lock"></i></span>
                    </div>
                    <label class="checkbox mt-2">
                        <input type="checkbox" onclick="showPassword('password','show_password_text')">
                        <span id="show_password_text">Show Password</span>
                    </label>
                    <p class="has-text-danger has-text-weight-bold" id="password-error"></p>
                    <p class="help is-danger is-size-6">Password must be at least 12 characters long, include uppercase and lowercase characters, a number, and at least one special character: @$!%*?&</p>
                </div>

                <!-- Confirm Password -->
                <div class="field">
                    <label for="confirm-password" class="label">Confirm Password</label>
                    <div class="control has-icons-left">
                        <input class="input is-medium" type="password" name="confirm_password" id="confirm-password" placeholder="Confirm Password" required>
                        <span class="icon is-left"><i class="fas fa-lock"></i></span>
                    </div>
                    <label class="checkbox mt-2">
                        <input type="checkbox" onclick="showPassword('confirm-password','confirm_password_text')">
                        <span id="confirm_password_text">Show Password</span>
                    </label>
                </div>

                <p class="has-text-danger has-text-weight-bold" id="match-error"></p>

                <!-- Submit -->
                <div class="field is-grouped is-justify-content-flex-end">
                    <div class="control"><button type="submit" class="button is-link"><i class="fas fa-paper-plane mr-2"></i>Submit</button></div>
                </div>
            </form>

            <!-- Links -->
            <check if="{{ !empty(@SESSION.division_slug) }}">
                <true><a href="/login/{{ @controller }}/index"><i class="fas fa-tachometer-alt mr-1"></i>Return to Dashboard</a></true>
            </check>
            <p class="mt-2"><a href="/login/{{ @controller }}/index"><i class="fas fa-sign-in-alt mr-1"></i>Return to Login</a></p>
        </div>
    </div>
</section>
