<div class="modal" id="descriptionHint">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Sample Description Text
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="notification is-success is-light success-border content">
                <p>This nomination form is designed to gather information about those who excel in their fields, demonstrating innovation, dedication, and exceptional performance. Your input is crucial in ensuring that we honor those who deserve to be acknowledged.</p>
            </div>
        </section>
    </div>
</div>