<div class="modal" id="fileUploadHint">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Sample File Upload Instructions Text
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="notification is-success is-light success-border content">
                <p>
                    [<i></i><strong>DO NOT PROVIDE</strong> Salution and event/award details in your email. This information will be provided by the application.</strong></i>]
                </p>
                <hr>
                <p>To ensure a comprehensive evaluation of your nomination, please upload the following documents:</p>

                <p><strong>Biography/CV:</strong><br>
                    <ul>
                        <li>A brief biography or CV of the nominee (maximum 2 pages), highlighting their education, career achievements, and relevant experiences.</li>
                    </ul>
                </p>

                <p><strong>Letter(s) of Support:</strong><br>
                    <ul>
                        <li>At least one letter of support from someone other than the nominator (maximum 500 words per letter). Additional letters are welcome but not required. Letters should emphasize the nominee's qualifications, impact, and reasons for deserving the award.</li>
                    </ul>
                </p>

                <p><strong>Supporting Documents (Optional):</strong><br>
                    <ul>
                        <li>Any relevant articles, project summaries, publications, or other materials that strengthen the nomination and provide evidence of the nominee's accomplishments.</li>
                    </ul>
                </p>

                <p><strong>Upload Instructions:</strong><br>
                    <ul>
                        <li>Click the "Upload" button on the file upload screen</li>
                        <li>Select the file(s) from your device. Ensure they meet to accepted file type and size displayed on the form.</li>
                        <li>Ensure all required documents are uploaded before submitting the nomination form.</li>
                    </ul>
                </p>

                <p><strong>Important Note:</strong><br>
                    <ul>
                        <li>Please ensure that all files are clearly labeled with the nominee's name and the type of document (e.g., "JohnDoe_Biography.pdf").</li>
                        <li>Incomplete submissions may not be considered.</li>
                    </ul>
                </p>

                <p>Thank you for providing these materials. They are crucial in helping our evaluation committee make an informed decision/p>
            </div>
        </section>
    </div>
</div>