<div class="modal" id="invitationHint">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Sample Email Invitation
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="notification is-success is-light success-border content">
                <p>
                    [<i></i><strong>DO NOT PROVIDE</strong> Salution and event/award details in your email. This information will be provided by the application.</strong></i>]
                </p>

                <p>I hope this message finds you well. I am writing on behalf of [Your Organization] to extend an invitation for you to serve as a judge for the upcoming nomination. Your expertise and insights in [relevant field or industry] make you an ideal candidate to help us recognize and celebrate outstanding achievements in our community.</p>

                <p><strong>Judging Process:</strong><br>
                <ul>
                    <li><strong>Commitment:</strong> We estimate that the evaluation process will require approximately [X] hours of your time.</li>
                    <li><strong>Platform:</strong> Judging will be conducted through our secure online portal, where you can review and score nominations at your convenience.</li>
                </ul>
                </p>

                <p><strong>Next Steps:</strong><br>
                    <ul>
                        <li>Access the Portal using the link below</li>
                        <li><strong>Review Materials:</strong> Familiarize yourself with the evaluation criteria and scoring guidelines provided in the portal.</li>
                        <li><strong>Evaluate Nominations:</strong> Assess the nominations assigned to you and submit your scores and feedback within the designated judging period.</li>
                    </ul>
                </p>

                <p>Your participation is crucial in ensuring a fair and comprehensive evaluation process. We greatly appreciate your time and expertise.</p>
                <p>Thank you for considering this opportunity to help us celebrate excellence in [relevant field or industry]. We look forward to your positive response.</p>
            </div>
        </section>
    </div>
</div>