<div class="modal" id="nomineeNominatedHint">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Sample Email Notification To Nominee
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="notification is-success is-light success-border content">
                <p>
                    [<i></i><strong>DO NOT PROVIDE</strong> Salution and event/award details in your email. This information will be provided by the application.</strong></i>]
                </p>

                <p>I hope this message finds you well. I am delighted to inform you that you have been nominated for the nomination in recognition of your outstanding contributions and impact in [relevant field or industry].</p>

                <p>Being nominated is a significant achievement and a testament to the exceptional work you have done. We are truly honored to have you considered for this prestigious award</p>

                <p><strong>Next Steps:</strong><br>
                    <ul>
                        <li><strong>Review:</strong> Our evaluation committee will carefully review all nominations.</li>
                        <li><strong>Notifications:</strong> If you are selected as a finalist, we will notify you with further details.</li>
                    </ul>
                </p>

                <p>Congratulations once again on your well-deserved nomination!</p>
            </div>
        </section>
    </div>
</div>