<!--TODO THIS NEEDS TO WORK. THE WORKING AND THE TITLE ARE INCORRECT-->
<div class="modal" id="nominatorSelfNominatedEmailHint">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Sample Email Notification of Receipt Text
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="notification is-success is-light success-border content">
                <p>
                    [<i>Salution and event/award details will be provided by the app. <strong>DO NOT PROVIDE THIS INFORMATION IN YOUR EMAIL</strong></i>]
                </p>

                <p>Thank you for taking the time to submit your nomination for yourself. We are pleased to confirm that your nomination has been successfully received.</p>

                <p><strong>Next Steps:</strong><br>
                <ul>
                    <li><strong>Review:</strong> Our evaluation committee will carefully review all nominations.</li>
                    <li><strong>Notifications:</strong>  If your nominee is selected as a finalist, we will notify both you and the nominee in the coming weeks.</li>
                    <li><strong>Awards Ceremony:</strong>  Finalists and award recipients will be celebrated at our [Event/Award Name] ceremony on [Date].</li>
                </ul>
                </p>

                <p>Thank you once again for your participation. We look forward to announcing the finalists and award recipients soon!</p>
            </div>
        </section>
    </div>
</div>