<div class="modal" id="nomineeSelfEmailHint">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Sample Email to Nominee to Self Nominate Text
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="notification is-success is-light success-border content">
                <p>
                    [<i></i><strong>DO NOT PROVIDE</strong> Salution and event/award details in your email. This information will be provided by the application.</strong></i>]
                </p>

                <p>I hope this message finds you well. I am writing to inform you that you have been identified as a potential candidate for the nomination, and we would be honored if you would consider submitting a self-nomination.</p>

                <p><strong>Why you were nominated:</strong><br>
                    Your outstanding contributions and impact in [relevant field or industry] have not gone unnoticed. We believe that your work aligns with the values and goals of our award, and we would be thrilled to recognize your achievements.
                </p>

                <p><strong>Next Steps:</strong><br>
                <ul>
                    <li><strong>Access the Nomination Form:</strong> Click the link below to access the self-nomination form. [this app will provide the link]</li>
                    <li><strong>Complete and Submit the Form:</strong> Fill out the form, providing detailed information about your accomplishments, their impact, and any supporting materials.</li>
                </ul>
                </p>

                <p><strong>Important Notes</strong></p>
                    <ul>
                        <li>Self-nominations are encouraged and will be given the same consideration as nominations submitted by others.</li>
                        <li>The evaluation process will be conducted by a panel of independent judges who are experts in the field.</li>
                    </ul>
                </p>

                <p>Please take this opportunity to showcase your exceptional work and inspire others in our community.</p>
                <p>Thank you for considering this opportunity. We look forward to receiving your self-nomination and celebrating your achievements.</p>
            </div>
        </section>
    </div>
</div>