<div class="modal" id="numericQuestions">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                NUMERIC BASED QUESTIONS
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body content">
            <div class="notification is-success is-light success-border content">

                <p>Scaled responses are used to measure attitudes, opinions, or other variables that are not easily quantifiable. They provide a way to collect data from a large number of respondents and to compare and analyze the results statistically.</p>

                <p>Examples of numeric-based questions requiring a scaled response include:</p>

                <p>"On a scale of 1 to 5, how innovative is the nominee's contribution?"
                    "On a scale of 1 to 5, how significant is the impact of the nominee's work?"
                    "How well does the nominee collaborate with others?' (1 = Not Well, 5 = Exceptionally Well)"
                </p>

                <p>Likert scales commonly comprise either five or seven options. The options on each end are called response anchors. The midpoint is often a neutral item, with positive options on one side and negative options on the other. Each item is given a score from 1 to 5 or 1 to 7.
                    The format of a typical five-level Likert question, for example, could be:
                    <ul>
                        <li>Strongly disagree</li>
                        <li>Disagree</li>
                        <li>Neither agree nor disagree</li>
                        <li>Agree</li>
                        <li>Strongly agree</li>
                    </ul>
                </p>
            </div>
        </section>
    </div>
</div>