<div class="modal" id="numericHint">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Sample Numeric Evaluation Instructions Text
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="notification is-success is-light success-border content">
                <p><strong> Using Numeric Questions to Evaluate Nominations</strong><br>
                    To ensure a consistent and fair evaluation process, please follow these simple instructions when using the numeric questions to score nominations:
                </p>
                <p><strong>Understand the Scale:</strong><br>
                    <ul>
                        <li>Each criterion will be scored on a scale provided.</li>
                    </ul>
                </p>
                <p><strong>Read the Nomination Materials:</strong><br>
                    <ul>
                        <li>Thoroughly review the nomination form, letters of support, and any additional documents provided for each nominee.</li>
                    </ul>
                </p>
                <p><strong>Evaluate Each Criterion:</strong><br>
                    <ul>
                        <li>or each criterion, assign a score based on the scale provided. Be objective and consider the evidence provided in the nomination materials.</li>
                    </ul>
                </p>
                <p><strong>Assign Scores Carefully:</strong><br>
                    <ul>
                        <li>Click on the numeric value or use the slider (if available) to assign your score for each criterion.</li>
                        <li>Make sure to select the score that best represents your evaluation. </li>
                    </ul>
                </p>
                <p><strong>Review Your Scores:</strong><br>
                    <ul>
                        <li>Before submitting your evaluation, double-check that you have assigned scores for all criteria and that they accurately reflect your assessment of the nomination.</li>
                    </ul>
                </p>
                <p>By following these instructions, you will help maintain a consistent and unbiased evaluation process. Thank you for your careful consideration and time in reviewing the nominations.</p>
            </div>
        </section>
    </div>
</div>