<div class="modal is-hidden" id="pasteText">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                How to copy and paste text
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="notification is-success is-light success-border content">
                <p><strong>Nomination Requirements</strong><br>Before you proceed with the nomination form, please ensure that you and your nominee meet the following requirements to guarantee a successful submission.</p>
                <ul>
                    <strong>Eligibility</strong>
                    <li>Nominees must be actively involved or have made significant contributions in the field/industry pertaining to the award category within the past year.</li>
                    <li>Nominators should have direct knowledge of the nominee's work and accomplishments.</li>
                    <li>Nominators must provide their contact information for verification purposes.</li>
                    <strong>Nomination Materials</strong>
                    <li>A completed nomination form with accurate and detailed information about the nominee's achievements.</li>
                    <li>A brief biography of the nominee (maximum 300 words).</li>
                    <li>At least one letter of support from someone other than the nominator, highlighting the nominee's qualifications and impact (maximum 500 words). Additional letters of support are welcome but not required.</li>
                </ul>
            </div>
        </section>
    </div>
</div>