<div class="modal" id="prizeHint">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Sample Prize Message Text
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="notification is-success is-light success-border content">
                <p><strong>Prize Description</strong><br>We are delighted to honor and celebrate the exceptional achievements of our successful nominees with a prize package designed to recognize their outstanding contributions and inspire continued excellence. The prize for the successful nominee includes:</p>
                <p><strong>Certificate of Achievement:</strong><br>An elegant, personalized certificate of achievement, signed by our organization's leadership, highlighting the recipient's outstanding accomplishments and the prestige of the award.</p>
                <p><strong> Featured Profile:</strong><br>A dedicated profile feature on our official website and in our newsletter, showcasing the recipient's journey, achievements, and the impact of their work. This profile will be shared with our extensive network, bringing well-deserved visibility and recognition to the successful nominee.</p>
                <p><strong>Exclusive Invitations:</strong><br>Complimentary invitations to attend and speak at our future events, conferences, and workshops, providing the recipient with valuable networking opportunities and a platform to share their insights and expertise.</p>
                <p>By offering this comprehensive prize package, we aim to celebrate the remarkable accomplishments of our successful nominees and support their ongoing endeavors. The prize is our way of expressing gratitude for their invaluable contributions and inspiring others to strive for excellence.</p>
            </div>
        </section>
    </div>
</div>