<div class="modal" id="successHint">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Sample Success Message Text
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="notification is-success is-light success-border content">
                <p>Your nomination for the [Event/Award Name] has been successfully submitted. Thank you for taking the time to recognize and honor the outstanding work of your nominee!</p>
            </div>
        </section>
    </div>
</div>

