<div class="modal" id="update_followup_question_{{@question.question_slug}}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Update the followup question</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <include href="views/dashboard/update_followup_question_form.htm" />
        </section>
    </div>
</div>