<div class="modal" id="welcomeHint">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Sample Welcome Text
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="notification is-success is-light success-border content">
                <p >Welcome. We're thrilled to have you here, ready to recognize and celebrate the outstanding individuals, teams, or projects that truly make a difference.</p>
                <p><strong>Purpose:</strong> This nomination form is designed to gather information about those who excel in their fields, demonstrating innovation, dedication, and exceptional performance. Your input is crucial in ensuring that we honor those who deserve to be acknowledged.</p>
                <p><strong>Who can you nominate?</strong> You can nominate colleagues, peers, mentors, or even yourself for the various categories listed within this form. Let's shine a spotlight on the remarkable work being done!</p>
                <p><strong>What to expect:</strong> The form will guide you through a series of questions where you can tell us about the nominee's accomplishments, the impact they've made, and why you believe they should be considered for this prestigious recognition.</p>
                <p><strong>Deadline: </strong> Please submit your nomination by [insert deadline].</p>
                <p><strong>Thank you</strong> for taking the time to acknowledge and honor the extraordinary people around you. Let's make this [event/award] a resounding success! </p>
            </div>

        </section>
    </div>
</div>