<include href="header.htm" />

<section class="section">
    <div class="columns">
        <div class="column">
            <img src="/assets/nominatePROLogoAndMark.jpg" alt="Logo for NominatePRO" style="height: 60px!important;">
        </div>
    </div>
    <div class="columns is-centered is-multiline">
        <div class="column is-half">
            <include href="{{ @content }}" />
        </div>
    </div>
</section>

<include href="settings/modals/judging_module_description_modal.htm" />
<include href="settings/modals/rubric_hint_modal.htm" />
<include href="settings/modals/settings_modal_container.htm" />
<include href="footer.htm" />