<section class="section">
    <div class="columns is-centered">
        <div class="column is-4">
            <h1 class="subtitle is-4 has-text-centered">Login to the Award Settings Portal</h1>
            <p class="content is-size-5">Use this area to access all the settings needed to create and manage your awards.</p>

            <form action="/login/cp/validate" method="POST" class="box">
                <input type="hidden" name="portal" value="admin">

                <div class="field">
                    <label for="username" class="label">Username</label>
                    <div class="control has-icons-left">
                        <input class="input is-medium" type="text" id="username" name="username" placeholder="Enter your username" required>
                        <span class="icon is-left"><i class="fas fa-user"></i></span>
                    </div>
                </div>

                <div class="field">
                    <label for="settings-password" class="label">Password</label>
                    <div class="control has-icons-left">
                        <input class="input is-medium" type="password" id="settings-password" name="password" placeholder="Enter your password" required>
                        <span class="icon is-left"><i class="fas fa-lock"></i></span>
                    </div>
                    <label class="checkbox mt-2">
                        <input type="checkbox" onclick="showPassword('settings-password','settings-password_text')">
                        <span id="settings-password_text">Show Password</span>
                    </label>
                </div>

                <div class="field is-grouped is-justify-content-flex-end">
                    <div class="control"><button type="submit" class="button is-success">Login</button></div>
                </div>
            </form>

            <p class="mt-3"><a href="/app/reset/password/cp/index" target="_blank">Forgot Password?</a></p>
        </div>
    </div>
</section>
