<div class="column is-8">
    <p class="content notification has-background-warning-light warning-border">This information will be included in emails sent to nominators/nominees to provide them with a point of contact for assistance. If you do not want this information to be displayed, please leave this section blank.</p>

    <div class="field">
        <div class="control">
            <label for="contact" class="label">Contact Name</label>
            <input class="input" type="text" name="contact" id="contact" value="{{ @award.contact }}" tabindex="22">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label for="contact_email" class="label">Contact Email</label>
            <input class="input" type="text" id="contact_email" name="contact_email" value="{{ @award.contact_email }}" tabindex="23">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="checkbox" for="use-contact-information">
                <input type="hidden" name="use_contact_information" value="0" readonly>
                <input type="checkbox" name="use_contact_information" id="use-contact-information" value="1" {{ @award.use_contact_information==1 ? 'checked' : '' }}>
                    Use this information as the SENDER in all emails sent to users. Otherwise, the system will use the NominatePRO as the sender.
            </label>
        </div>
    </div>
</div>
