<div class="columns is-multiline">
    <div class="column is-8">
        <h1 class="is-size-4 my-3" id="settings" id="essentials">{{ @PAGE_TITLE }}</h1>
        <p class="notification has-background-warning-light warning-border"><i class="fa-sharp fa-solid fa-star has-text-danger"></i>This app automatically provides form fields for {{ @nominator_nominee == 'nominator' ? 'nominators' : 'nominees' }} to provide their name and email address. If additional information is required, you have the option to choose from the items below for the {{ @nominator_nominee == 'nominators' ? 'nominators' : 'nominees' }} to complete. If information you require is not shown here, you can ask for it as part of the nomination questions.</p>
        <form action="{{ @action }}" method="POST" >
            <input type="hidden" name="date_edited" value="{{ isset(@data.date_edited) ? @data.date_edited : '' }}">
            <input type="hidden" name="token" value="{{ @SESSION.csrf_token }}">
            <input type="hidden" name="update" value="{{ isset(@update) }}">
            <div class="column is-12 content">
                <!-- PREFIX -->
            <include href="views/settings/formTemplates/checkboxes.htm" with="
                fieldName=prefix,
                fieldValue=1,
                dataValue={{ isset(@data.prefix) && @data.prefix == 1 }},
                tabindex=1,
                description=Check to ask for a prefix" />
                        <include href="views/settings/formTemplates/checkboxes.htm" with="
                fieldName=prefix_required,
                fieldValue=1,
                dataValue={{ isset(@data.prefix_required) && @data.prefix_required == 1 }},
                tabindex=2,
                description=Is this required?" />
                <hr>

            <!-- SUFFIX -->
            <include href="views/settings/formTemplates/checkboxes.htm" with="
                fieldName=suffix,
                fieldValue=1,
                dataValue={{ isset(@data.suffix) && @data.suffix == 1 }},
                tabindex=3,
                description=Check to ask for a suffix" />
                        <include href="views/settings/formTemplates/checkboxes.htm" with="
                fieldName=suffix_required,
                fieldValue=1,
                dataValue={{ isset(@data.suffix_required) && @data.suffix_required == 1 }},
                tabindex=4,
                description=Is this required?" />
                <hr>

            <!-- BUSINESS NAME -->
            <include href="views/settings/formTemplates/checkboxes.htm" with="
                fieldName=business_name,
                fieldValue=1,
                dataValue={{ isset(@data.business_name) && @data.business_name == 1 }},
                tabindex=5,
                description='Check to ask for a business | association | organization | etc. name'" />
                <include href="views/settings/formTemplates/checkboxes.htm" with="
                fieldName=business_name_required,
                fieldValue=1,
                dataValue={{ isset(@data.business_name_required) && @data.business_name_required == 1 }},
                tabindex=6,
                description=Is this required?" />
                <hr>

            <!-- TITLE -->
            <include href="views/settings/formTemplates/checkboxes.htm" with="
                fieldName=title,
                fieldValue=1,
                dataValue={{ isset(@data.title) && @data.title == 1 }},
                tabindex=7,
                description=Check to ask for a position or title" />
            <include href="views/settings/formTemplates/checkboxes.htm" with="
                fieldName=title_required,
                fieldValue=1,
                dataValue={{ isset(@data.title_required) && @data.title_required == 1 }},
                tabindex=8,
                description=Is this required?" />
                <hr>

            <!-- ADDRESS -->
            <include href="views/settings/formTemplates/checkboxes.htm" with="
                fieldName=address,
                fieldValue=1,
                dataValue={{ isset(@data.address) && @data.address == 1 }},
                tabindex=9,
                description=Check to ask for the full address" />
            <include href="views/settings/formTemplates/checkboxes.htm" with="
                    fieldName=address_required,
                    fieldValue=1,
                    dataValue={{ isset(@data.address_required) && @data.address_required == 1 }},
                    tabindex=10,
                    description=Is this required?" />
                <hr>

                <!-- PHONE -->
                <include href="views/settings/formTemplates/checkboxes.htm" with="
                    fieldName=phone,
                    fieldValue=1,
                    dataValue={{ isset(@data.phone) && @data.phone == 1 }},
                    tabindex=11,
                    description=Check to ask for a phone number" />
                <include href="views/settings/formTemplates/checkboxes.htm" with="
                    fieldName=phone_required,
                    fieldValue=1,
                    dataValue={{ isset(@data.phone_required) && @data.phone_required == 1 }},
                    tabindex=12,
                    description=Is this required?" />
                <hr>

                <!-- ALTERNATE PHONE -->
                <include href="views/settings/formTemplates/checkboxes.htm" with="
                    fieldName=alternate,
                    fieldValue=1,
                    dataValue={{ isset(@data.alternate) && @data.alternate == 1 }},
                    tabindex=13,
                    description=Check to ask for an alternate phone number" />
                <include href="views/settings/formTemplates/checkboxes.htm" with="
                    fieldName=alternate_required,
                    fieldValue=1,
                    dataValue={{ isset(@data.alternate_required) && @data.alternate_required == 1 }},
                    tabindex=14,
                    description=Is this required?" />

                <check if="{{ @nominator_nominee == 'nominator' }}">
                    <hr>
                    <include href="views/settings/formTemplates/checkboxes.htm" with="
                        fieldName=relationship,
                        fieldValue=1,
                        dataValue={{ isset(@data.relationship) && @data.relationship == 1 }},
                        tabindex=15,
                        description=Check to ask if the nominator has a relationship with the nominee" />

                    <div class="field">
                        <div class="control">
                            <label for="relationship-question" class="label">
                                If you select this option, write the question you want to ask.
                            </label>
                            <textarea name="relationship_question" class="textarea" id="relationship-question"
                                      placeholder="Describe the relationship of the nominee and the organization(s) or individual(s) submitting the nominations (ex: board member, campaign volunteer, etc.)">{{ isset(@data.relationship_question) ? @data.relationship_question : '' }}</textarea>
                        </div>
                    </div>

                    <include href="views/settings/formTemplates/checkboxes.htm" with="
                        fieldName=relationship_required,
                        fieldValue=1,
                        dataValue={{ isset(@data.relationship_required) && @data.relationship_required == 1 }},
                        tabindex=16,
                        description=Is this required?" />
                </check>
            </div>

                <div class="field is-grouped">
                    <div class="control mt-3">
                        <button class="button is-success" tabindex="200">Submit</button>
                    </div>
                    <div class="control mt-3">
                        <button class="button is-link is-light" id="clear-selections" tabindex="201">Clear Selection</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    // Select all checkboxes with names ending in '_required'
    const requiredCheckboxes = [...document.querySelectorAll('input[type=checkbox][name*="_required"]')];

    requiredCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', function() {
            // get the name of the checkbox without "_required"
            const associatedCheckboxName = this.name.replace('_required', '');

            // find the checkbox by name
            const associatedCheckbox = document.querySelector(`input[type=checkbox][name="${associatedCheckboxName}"]`);

            // check or uncheck based on the "_required" checkbox
            if (associatedCheckbox) {
                associatedCheckbox.checked = this.checked;
            }
        });
    });

    document.querySelector('#clear-selections').addEventListener('click', function(e) {
        e.preventDefault(); // Prevent navigation
        var inputs = document.querySelectorAll('input[type="checkbox"]');
        inputs.forEach(function(input) {
            input.checked = false;
        });
    });

</script>



