<form method="POST" action="{{ 'change_nomination_dates' | alias }}" id="nomination">
    <input type="hidden" name="award_slug" value="{{@PARAMS.award_slug}}">
    <input type="hidden" name="token" value="{{ @SESSION.csrf }}" readonly>
    <input type="hidden" name="type" value="{{@PARAMS.type}}">
    <div class="field pt-5 px-5">
        <label class="label">Nomination Start Date</label>
        <div class="control">
            <input class="input" type="date" name="nomination_start_date" id="nomination_start_date" value="{{isset(@data.nomination_start_date) ? @data.nomination_start_date : 'Select Date'}}" tabindex="1">
        </div>
    </div>
    <div class="field px-5">
        <label class="label">Nomination End Date</label>
        <div class="control">
            <input class="input" type="date" name="nomination_end_date" onchange="toTimestamp(this)" value="{{isset(@data.nomination_end_date) ? @data.nomination_end_date : 'Select Date'}}" required tabindex="2">
        </div>
    </div>
    <button type="submit" class="button is-link is-pulled-right" tabindex="3">Change the Dates</button>
</form>